@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #6C63FF;
  font-family:  Poppins, sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

h1 + p {
  margin-top: 0;
}

form {
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
  border-radius: 2px;
  padding: 30px 20px;
  max-width: 600px;
  margin: 40px auto;
}

.form-control {
  margin-bottom: 20px;
  text-align: left;
}

.form-control label {
  display: block;
  margin-bottom: 6px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #667;
  border-radius: 2px;
  padding: 10px;
  font-family: inherit;
  display: block;
  width: 100%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

button {
  background-color: #6C63FF;
  border: 1px solid #6C63FF;
  border-radius: 2px;
  display: block;
  padding: 10px;
  width: 100%;
  color: #fff;
}

